{% extends "jinja_template.html" %}

{% block navigation %}
        <li class="active"><a href="/">Kanji Lookup</a></li>
        <li class="inactive"><a href="/recreatedata">Recreate Data</a></li>
{% endblock %}

{% block subtitle %}
  <div class="row">
    <div class="col-sm-12 text-left" style="padding-top:20px">
      <form method="post">
        <input type="text" name="lookup" maxlength="1" placeholder="Enter single kanji to retrieve">
        <input type="submit" value="Retrieve">
      </form>
    </div>
  </div>
{% endblock %}
