{% extends "jinja_template.html" %}

{% block navigation %}
        <li class="inactive"><a href="/">Kanji Lookup</a></li>
        <li class="inactive"><a href="/recreatedata">Recreate Data</a></li>
{% endblock %}

{% block subtitle %}
  <div class="row">
    <div class="col-sm-12 text-left" style="padding-top:20px">
      <form method="post">
        <input type="text" name="lookup" maxlength="1" placeholder="Enter single kanji to retrieve">
        <input type="submit" value="Retrieve">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left"> 
      <h2>Kanji: {% if known == true %} <span style="color:blue">{{ literal }}</span> {% else %} {{ literal }}　{% endif %}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 text-left">
      <p>Grade: {{ grade }}</p>
    </div>
    <div class="col-sm-2 text-left">
      <p>Strokecount: {{ strokecount }}</p>
    </div>
    <div class="col-sm-2 text-left">
      <p>Frequency: {{ frequency }}</p>
    </div>
    <div class="col-sm-2 text-left"> 
      <p>JLPT Level: {{ jlpt }}</p>
    </div>
    <div class="col-sm-4 text-left"> 
      {% if known == false %}
      <form method="post">
        <div>Unknown <input type="submit" name="known" value="Mark as known"></div>
      </form>
      {% else %}
      <form method="post">
        <div>Known <input type="submit" name="unknown" value="Mark as unknown"></div>
      </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block maincontent %}
  <div class="row">
    <div class="col-sm-12 text-left"> 
      <h2>Vocabulary:</h2>
    </div>
  </div>
  <div class="row">
    {% for vocab in vocab_display_list %}
    <div class="col-sm-2 text-left">
      <p>
      {% for kanji in vocab[1] %}
        {% if not vocab[2][loop.index0] %}
          {{ kanji }}
        {% else %}
          <span style="color:blue">{{ kanji }}</span>
        {% endif %}
      {% endfor %}
      </p>
    </div>
    <div class="col-sm-6 text-left">
      <p>{{ vocab[0][2] }}</p>
    </div>
    <div class="col-sm-4 text-left">
      <div class="checkbox">
        <label><input type="checkbox" value="">Hide</label>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
