{% extends "jinja_template.html" %}

{% block navigation %}
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="inactive"><a href="/">Kanji Lookup</a></li>
        <li class="inactive"><a href="/summary">Summary</a></li>
        <li class="active"><a href="/recreatedata">Recreate Database</a></li>
      </ul>
    </div>
{% endblock %}

{% block subtitle %}
  <div class="row">
    <div class="col-sm-12 text-left"> 
      <h2>Recreate Database</h2>
    </div>
  </div>
{% endblock %}

{% block maincontent %}
  <div class="row content">
    <div class="col-sm-12 text-left"> 
      {% if flag == true %}
        <p>All database tables and data succesfully recreated</p>
        <p>Number of kanji: {{ Kanji }}</p>
        <p>Number of vocabulary: {{ Vocabulary }}</p>
        <p>Number of grammar terms: {{ Grammar }}</p>
        <p>Number of kanji/vocab cross-references: {{ KanjiVocabulary }}</p>
      {% else %}
        <form action="/recreatedata" method="post">
          <p>Current summary of entries:</p>
          <p>Number of kanji: {{ Kanji }}</p>
          <p>Number of vocabulary: {{ Vocabulary }}</p>
          <p>Number of grammar terms: {{ Grammar }}</p>
          <p>Number of kanji/vocab cross-references: {{ KanjiVocabulary }}</p>
          <p>Click the following button to recreate all data in the database</p>
          <p>!!!Any changes since the last reload will be lost!!!</p>
          <div><input type="submit" value="Recreate Data"></div>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
