{# This is the base jinja template for all web pages and should be extended by child templates #} 
<!DOCTYPE html>
<html lang="en">

{# Header block #}
<head>
{% block head %}
  <title>Jim's Kanji Study</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/common.css">
{% endblock %}
</head>

{# Start main body #}
<body>
  <img alt="Mount Fuji at sunset" src="https://cdn.pixabay.com/photo/2016/04/25/16/46/kitadake-1352353__340.jpg" height="150px" width="100%"/>

{# Start navigation bar #}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
{# Navigation block. Navigation bar status dependent on URL #}
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
{% block navigation %}
{% endblock %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user_dict.user %}
        <li><a href="{{ user_dict.logout_url }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
        <li><a href="{{ user_dict.login_url }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul>
    </div>
   </div>
</nav>

{# Start main container #}
<div class="container-fluid">
{# The page subtitle changes for each page #}
{% block subtitle %}
{% endblock %}

{# The next rows form the main page content so blank in this template #}
{% block maincontent %}
{% endblock %}
</div>
</body>
</html>