{% extends "jinja_template.html" %}
{% set display_step = 0 %}
{% set display_round = 0 %}
{% set order = display_order %}
{% if display_order == 'frequency' %}
  {% set display_step = 99 %}
  {% set display_round = -2 %}
  {% set greater = ">=" %}
{% endif %}

{% block navigation %}
        <li class="inactive"><a href="/">Home</a></li>
        <li class="inactive"><a href="/kanjilookup">Kanji Lookup</a></li>
        <li class="active"><a href="/kanjilist">Kanji List</a></li>
        <li class="inactive"><a href="/admin">Admin</a></li>
{% endblock %}

{% block subtitle %}
<form method="get" id="userSettings">
  <div class="row">
    <div class="col-sm-12 text-left"> 
      <h2>Kanji List</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 text-left" style="padding-top:20px">
        <label>Order by:</label>
        <select name="displayOrder" id="displayOrder" class="btn btn-primary btn-sm">
          {% if display_order is not defined or display_order == 'grade' %}
          <option value="grade" selected>Grade</option>
          {% else %}
          <option value="grade">Grade</option>
          {% endif %}
          {% if display_order == 'frequency' %}
          <option value="frequency" selected>Frequency</option>
          {% else %}
          <option value="frequency">Frequency</option>
          {% endif %}
          {% if display_order == 'jlpt' %}
          <option value="jlpt" selected>JLPT</option>
          {% else %}
          <option value="jlpt">JLPT</option>
          {% endif %}
          {% if display_order == 'strokecount' %}
          <option value="strokecount" selected>Strokecount</option>
          {% else %}
          <option value="strokecount">Strokecount</option>
          {% endif %}
        </select>
    </div>
    <div class="col-sm-1 text-left" style="padding-top:20px">
      <div id="gradeMinSlider">
        <label for="gradeMinInput">Grade Min</label><input name="gradeMinInput" id="gradeMinInput" type="range" min="1" max="8" step="1" value={{ min_grade }} oninput="updateSliderMin(this, document.getElementById('gradeMaxInput'), document.getElementById('gradeMinOutput'))">
        <output name="gradeMinOutput" id="gradeMinOutput">{{ min_grade }}</output>
      </div>
    </div>
    <div class="col-sm-1 text-left" style="padding-top:20px">
      <div id="gradeMaxSlider">
        <label for="gradeMaxInput">Max</label><input name="gradeMaxInput" id="gradeMaxInput" type="range" min="1" max="8" step="1" value={{ max_grade }} oninput="updateSliderMax(this, document.getElementById('gradeMinInput'), document.getElementById('gradeMaxOutput'))">
        <output name="gradeMaxOutput" id="gradeMaxOutput">{{ max_grade }}</output>
      </div>
    </div>
    <div class="col-sm-1 text-left" style="padding-top:20px">
      <div id="freqMinSlider">
        <label for="freqMinInput">Freq Min</label><input name="freqMinInput" id="freqMinInput" type="range" min="1" max="2500" step="100" value={{ min_freq }} oninput="updateSliderMin(this, document.getElementById('freqMaxInput'), document.getElementById('freqMinOutput'))">
        <output name="freqMinOutput" id="freqMinOutput">{{ min_freq }}</output>
      </div>
      <div class="checkbox">
        {% if no_freq == true %}
        <label><input type="checkbox" name="noFreq" value="noFreq" checked>Include null</label>
        {% else %}
        <label><input type="checkbox" name="noFreq" value="noFreq">Include null</label>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-1 text-left" style="padding-top:20px">
      <div id="freqMaxSlider">
        <label for="freqMaxInput">Max</label><input name="freqMaxIn put" id="freqMaxInput" type="range" min="1" max="2500" step="100" value={{ max_freq }} oninput="updateSliderMax(this, document.getElementById('freqMinInput'), document.getElementById('freqMaxOutput'))">
        <output name="freqMaxOutput" id="freqMaxOutput">{{ max_freq }}</output>
      </div>
    </div>
    <div class="col-sm-1 text-left" style="padding-top:20px">
      <div id="jlptMinSlider">
        <label for="jlptMinInput">JLPT Min</label><input name="jlptMinInput" id="jlptMinInput" type="range" min="1" max="4" step="1" value={{ min_jlpt }} oninput="updateSliderMin(this, document.getElementById('jlptMaxInput'), document.getElementById('jlptMinOutput'))">
        <output name="jlptMinOutput" id="jlptMinOutput">{{ min_jlpt }}</output>
      </div>
      <div class="checkbox">
        {% if no_jlpt == true %}
        <label><input type="checkbox" name="noJlpt" value="noJlpt" checked>Include null</label>
        {% else %}
        <label><input type="checkbox" name="noJlpt" value="noJlpt">Include null</label>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-1 text-left" style="padding-top:20px">
      <div id="jlptMaxSlider">
        <label for="jlptMaxInput">Max</label><input name="jlptMaxInput" id="jlptMaxInput" type="range" min="1" max="4" step="1" value={{ max_jlpt }} oninput="updateSliderMax(this, document.getElementById('jlptMinInput'), document.getElementById('jlptMaxOutput'))">
        <output name="jlptMaxOutput" id="jlptMaxOutput">{{ max_jlpt }}</output>
      </div>
    </div>
    <div class="col-sm-1 text-left" style="padding-top:20px">
      <div id="strokeMinSlider">
        <label for="strokeMinInput">Stroke Min</label><input name="strokeMinInput" id="strokeMinInput" type="range" min="0" max="29" step="1" value={{ min_stroke }} oninput="updateSliderMin(this, document.getElementById('strokeMaxInput'), document.getElementById('strokeMinOutput'))">
        <output name="strokeMinOutput" id="strokeMinOutput">{{ min_stroke }}</output>
      </div>
    </div>
    <div class="col-sm-1 text-left" style="padding-top:20px">
      <div id="strokeMaxSlider">
        <label for="strokeMaxInput">Max</label><input name="strokeMaxInput" id="strokeMaxInput" type="range" min="0" max="29" step="1" value={{ max_stroke }} oninput="updateSliderMax(this, document.getElementById('strokeMinInput'), document.getElementById('strokeMaxOutput'))">
        <output name="strokeMaxOutput" id="strokeMaxOutput">{{ max_stroke }}</output>
      </div>
    </div>
    <div class="col-sm-2 text-left" style="padding-top:20px">
      <label >Known status:</label>
        <select name="knownFlag" id="knownFlag" class="btn btn-primary btn-sm">
          {% if known_flag == 'true' %}
          <option value="true" selected>Known</option>
          {% else %}
          <option value="true">Known</option>
          {% endif %}
          {% if known_flag == 'false' %}
          <option value="false" selected>Unknown</option>
          {% else %}
          <option value="false">Unknown</option>
          {% endif %}
          {% if known_flag is not defined or known_flag == 'both' %}
          <option value="both" selected>Both</option>
          {% else %}
          <option value="both">Both</option>
          {% endif %}
        </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 text-left" style="padding-top:20px">
          <input class="btn btn-primary btn-sm" type="submit" value="Go">
    </div>
  </div>
</form>
{% endblock %}

{% block maincontent %}
{% if kanji_list %}
  <div class="row">
    <div class="col-sm-12 text-left">
      <p>
      {%- for kanji in kanji_list -%}
        {% if kanji[display_order] !=none and (subset is not defined or kanji[display_order] > subset+display_step) %}
          {% set subset = kanji[display_order]|round(display_round,'floor')|int %}
          <h3>{{ display_order|title }} {{ greater }}{{ subset }}</h3>
        {% elif kanji[display_order] == none and subset != null %}
          {% set subset = null %}
          <h3>{{ display_order|title }} NULL</h3>
        {% endif %}
        {% if kanji.known == true %}
        <a href="{{ base_url }}{{ kanji.literal }}" style="color:blue; font-size:20px">{{- kanji.literal -}}</a>
        {% else %}
        <a href="{{ base_url }}{{ kanji.literal }}" style="color:black; font-size:20px">{{- kanji.literal -}}</a>
        {% endif %}
      {%- endfor -%}
      </p>
    </div>
  </div>
{% endif %}
<script>
function displayData(){
  var freqElement = document.getElementById("hiddenFreq");
  var displayElement = document.getElementById("displayOrder");
  freqElement.style.display = freqElement.style.display === "block" ? "none" : "block";  
  displayElement.style.display = displayElement.style.display === "block" ? "none" : "block";  
}
function updateSliderMin(minInput, maxInput, minOutput){
	minInput.value=Math.min(minInput.value,maxInput.value);
	minOutput.value = minInput.value;
}
function updateSliderMax(maxInput, minInput, maxOutput){
	maxInput.value=Math.max(maxInput.value,minInput.value);
	maxOutput.value = maxInput.value;
}
</script>

{% endblock %}
